@model List<Urun>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Aciklama</th>
            <th>Fiyat</th>
            <th>Boykot Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Ad</td>
                <td>@i.Aciklama</td>
                <td>@i.Fiyat</td>
                <td>
                    @if (i.BoykotDurumu)
                    {
                        <span class="badge bg-danger">Satın alınmamalı.</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Satın alınabilir.</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
